@model List<Product>
@foreach(var product in Model){
    <div class="product-item mb-50">
        <div class="product-thumb">
            <a asp-action="detail" asp-controller="product" asp-route-id="@product.Id">
                <img src="~/assets/img/product/@product.ProductImages.FirstOrDefault(x=> x.IsMain==true)?.Image" alt="" />
            </a>
        </div>
        <div class="product-content">
            <h5 class="product-name">
                <a asp-action="detail" asp-controller="product" asp-route-id="@product.Id">
                    @product.Name
                </a>
            </h5>
            <div class="price-box">
                @if (product.DiscountPercentage > 0)
                {
                    <span class="regular-price">£@((product.Price - ((product.Price * product.DiscountPercentage) / 100)).ToString("0.00"))</span>
                    <del class="old-price">£@product.Price.ToString("0.##")</del>
                }
                else
                {
                    <span class="regular-price">£@product.Price</span>
                }
            </div>
            <div class="product-action-link">
                <a href="#" data-toggle="tooltip" title="Wishlist">
                    <i class="ion-android-favorite-outline"></i>
                </a>
                <a asp-controller="basket" asp-action="addtobasket" asp-route-id="@product.Id" class="addtobasket" data-toggle="tooltip" title="Add To Cart">
                    <i class="ion-bag"></i>
                </a>
               @*  <a asp-action="bookmodal" asp-controller="book" asp-route-id="@book.Id" data-bs-toggle="modal" data-bs-target="#quickModal"
                   class="single-btn bookModal">
                    <i class="fas fa-eye"></i>
                </a> *@
                <a href="#" data-toggle="modal" data-target="#quick_view">
                    <span data-toggle="tooltip" title="Quick View">
                        <i class="ion-ios-eye-outline"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
}
